body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #000;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}

/* Home page CSS */
.homeHeader {
  font-size: 50px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.whyBenev {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 20px;


}

.hookImg,
img {
  display: flex;
  justify-content: center;
  max-width: 90%;
  border-radius: 20px;

}

.choices,
.userTypes,
.aboutParas {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  size: 20px;
  margin: 10px;
  padding: 20px;
}

.portal {
  margin: 20px;
  padding: 25px;
  background-color: green;
}

.para {
  background-color: rebeccapurple;
  margin: 20px;
  padding: 25px;
  width: 500px;
  border-radius: 20px;

}

.portal {
  width: 500px;
}

.signUpButton {
  background-color: aquamarine;
  border-color: blue;
  border-radius: 25px;
  font-size: large;
  padding: 20px;

}

section {
  background-color: #EEBC32;
  border: #000;
  border-radius: 20px;
}

footer {
  max-width: 100%;
}

.sources {
  font-size: x-small;

}

.taskCard {
  background-color: #1b2930;
  border-radius: 16px;
  padding: 20px;
  text-align: left;
  width: 250px;

}